# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
.utmp/
*.log
sysinfo.txt

# Visual Studio
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
ExportedObj/
.consulo/

# Meta files от бинарников
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Builds
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

# Jetbrains
/[Aa]ssets/Plugins/Editor/JetBrains*
.gradle/

# Crashlytics
crashlytics-build.properties

# Большие файлы и сторонние ассеты
*.fbx
*.wav
*.psd
*.blend
*.max
Assets/TENKOKU*/
Assets/TextMesh*/
Assets/Scenes/main map/
Assets/Scenes/SampleScene/